body {
  color: #247BA0;
  background-color: #B2DBBF;
}
table {
  display: none;
}
td {
  border: #B2DBBF solid 3px;
  width: 150px;
  height: 150px;
  text-align:center;
  font-size: 7em;
  background-color: #fff;
  color: #70C1B3;
}

#game-board table {
  margin-left:auto;
  margin-right:auto;
}

#buttons {
  text-align: center;
  margin-bottom: 15px;
}

.red-square {
  color: #FF1654;
}

.btn-danger {
  background-color: rgba(255, 22, 84, .9);
  border: solid 1px rgba(255, 22, 84, .5);
}

.btn-danger:hover {
  background-color: rgba(243, 255, 189, .35);
  color: #FF1654;
}

#game-status h4 {
  font-size: 2em;
}
